@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.1s ease;
}

body {
    background-color: beig40
}

#dropbtn:focus {
    outline: 2px solid #dedede;
    outline-offset: 2px;
}

#addTask:focus {
    outline: 2px solid #646ff0;
    outline-offset: 2px;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.30em;
    height: 1.30em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #646ff0;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid #212529;
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.label {
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.completed-label {
    text-decoration: line-through;
    font-style: oblique;
    font-weight: 400;
    text-decoration-thickness: 3px;
}

#delete,
#edit,
#save {
    background: transparent;
}

#delete {
    border: 1px solid #bb2d3b;
    fill:#bb2d3b;
}

#edit {
    border: 1px solid #646ff0;
    fill: #646ff0;
}

#save {
    border: 1px solid #157347;
    fill: #157347;
}

#delete:focus {
    outline: 2px solid #bb2d3b;
}
#edit:focus {
    outline: 2px solid rgb(100, 111, 240);
}
#save:focus {
    outline: 2px solid #157347;
}

#delete:hover,
#edit:hover,
#save:hover{
    background-color: rgba(120,120,120,0.2);
}

#delete:active,
#edit:active,
#save:active {
    background-color: rgba(120,120,120, 0.4);
}

#list-container {
    width: 100%;
    max-width: 50rem;
    min-width: 320px;
    height: fit-content;
    /* max-height: 450px; */
    /* overflow-y: auto; */
}
/* 
#list-container::-webkit-scrollbar {
    width: 13px;
}
#list-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}
#list-container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px rgb(100, 111, 240, 0.6);
    border-radius: 10px;
}
*/

@media (max-width: 768px) {
    .CredsComponent {
        display: none;
    }
}

.credits {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    right: 10px;
    bottom: 10px;
    font-size: 0.9rem;
}

.keyBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5px;
    bottom: 5px;
    fill: #212529;
    background: transparent;
    outline: 0;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.keyBtn:hover {
    background: transparent;
    border: 1px solid black;
}

.modalTitle {
    color: #212529;
    padding-left: 5px;
}

.modalTitle svg {
    fill: #212529;
}

.hotkey-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.hotkey {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.hotkey span {
    background: rgba(0,0,0,0.2);
    padding: 3px 8px;
    border-radius: 8px;
    font-weight: 500;
}

.hotkey span:nth-child(1) {
    margin-left: 3px;
}

.hotkey .plus,
.hotkey .equal,
.command .equal {
    background: rgba(0, 0, 0, 0);
    padding: 3px 3px;
    border-radius: 8px;
    color: #000;
}

.command {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.command span {
    color: white;
    background: #646ff0;
    padding: 3px 8px;
    border-radius: 8px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 0;
}