@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input[type=checkbox] {
    transform: scale(1.5);
    background: red;
    fill: red;
}

.label {
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.completed-label {
    text-decoration:line-through;
    font-style: oblique;
    font-weight: 400;
    text-decoration-thickness: 3px;
}

#liBtn {
    background: #dedfe1;
    fill: #585858;
}

.credits {
    position: absolute;
    display: flex;
    gap: 5px;
    right: 0;
    bottom: 0;
    transform: translate(-10%, -10%);
}